    
{% include "homepage_header.html" %}
    
    <h2>Board</h2>
    <table border = 1>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>등록일</th>
            <th>보기</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
       

        {% for item in Lists %}
        <tr>
            <td> {{item.b_id}} </td>
            <td> {{item.b_title}} </td>
            <td> {{item.b_content | replace('\n', '<br>') | safe}} </td>
            <td> {{item.b_upload_date}} </td>
            <td> <a href="/page?b_id={{item.b_id}}">보기</a></td>
            {% if item.b_u_id == id %}
                <td> <a href='/page/update_comment?b_id={{item.b_id}}'>수정</a></td>
                <td> <a href="/board/delete?b_id={{item.b_id}}" onclick="return confirm('정말 삭제할까요?')">삭제</a></td>
            {% else %}
                <td> </td>
                <td> </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>

    {% include "homepage_footer.html" %}

