<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign IN 페이지 (feat. MySQL, NodeJS)</title>
    </head>
    <body>
        <h1>사용자 로그인</h1>
        <br>
        <form method="post" action="/process/login">
            <table>
                <tr>
                    <td><label>아이디</label></td>
                    <td><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td><label>패스워드</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <input type="submit" value="로그인">
            <button type="button" onclick="location.href='/adduser'">회원가입</button>
        </form>
            
    </body>
</html>